<section class="danhmuc">
    <div class="card" style="position: static;width: 295px;height: 911px; float: left;">
        <div class="p1-card" style="position: fixed;width: 295px;top: -180px;"></div>
        <ul class="filter" style="float: left; padding: 9px;">
            <li style="width: 100% !important">
                <strong><b>CHỌN MỨC GIÁ</b></strong>
                <ul style="word-wrap:break-word;padding-left: 0px;padding-top: 10px;">

                    <li>
                        <a href="/SanPham/spduoi20">
                            <i class="fal fa-square-full"></i>
                            <span>Dưới 20 triệu</span>
                        </a>
                    </li>
                    <li>
                        <a href="/SanPham/sptu20den50">
                            <i class="fal fa-square-full"></i>
                            <span>Từ 20-50 triệu</span>
                        </a>
                    </li>

                    <li>
                        <a href="/SanPham/sptren50">
                            <i class="fal fa-square-full"></i>
                            <span>Trên 50 triệu</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li style="width: 100% !important">
                <strong>Loại TIVI</strong>
                <ul style="word-wrap:break-word;padding-left: 0px;padding-top: 10px;">

                    <li style="float:left">
                        <a href="/SanPham/TV4k">
                            <i class="fal fa-square-full"></i>
                            <span>Tivi Ultra HD4K</span>
                        </a>
                    </li>
                    <li style="float:left">
                        <a href="/SanPham/TVQled">
                            <i class="fal fa-square-full"></i>
                            <span>Tivi Qled</span>
                        </a>
                    </li>
                    <li style="float:left">
                        <a href="/SanPham/TV8k">
                            <i class="fal fa-square-full"></i>
                            <span>Tivi 8K</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li style="width: 100% !important">
                <strong>MÀN HÌNH</strong>
                <ul style="word-wrap:break-word;padding-left: 0px;padding-top: 10px;">

                    <li>
                        <a href="/SanPham/tvduoi55inch">
                            <i class="fal fa-square-full"></i>
                            <span>Từ 32-50 inch</span>
                        </a>
                    </li>
                    <li>
                        <a href="/SanPham/tvtren55inch">
                            <i class="fal fa-square-full"></i>
                            <span>Trên 50 inch</span>
                        </a>
                    </li>


                </ul>
            </li>


        </ul>
    </div>

</section>