
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section >
    <div id="giohang" style="width: 1200px;margin-left: 70px;" >
        <form action="">
            <p style="font-size: 14px;">
                <a href="/Home/Index" style="text-decoration: none;">Trang chủ &nbsp;</a><span>>></span>&nbsp; Giỏ hàng
            </p>
            <table style="width:1200px;" ng-controller="spdetail">
                <!-- <img src="Image/giohang.jpg" style="width: 650px; height: 300px;font-weight: 300px;"> -->
                <tr align="center">
                    <th style="padding: 10px;">Thông tin đơn hàng</th>
                    <th style="padding: 10px;">Hình ảnh</th>
                    <th style="padding: 10px;">Số lượng</th>
                    <th style="padding: 10px;">Giá tiền</th>
                    <th style="padding: 10px;">Thao tác</th>

                </tr>
                <tr align="center" id="xoaNSP1" ng-repeat="s in dsDonHang">
                    <td>

                        <p style="font-size: 14px;padding-top: 10px;">
                            <a href="1.html" style="text-decoration: none;color: blue;"><span style="font-size: 18px;"> {{s.product_name}}</span> </a><br>
                    </td>
                    <td><img src="~/Assets/client/image/{{s.image}}" style="height:120px; width:145px;float: left;margin: 10px;"></td>
                    <td id="div6_2">
                        <button ng-click="slgiam()">-</button><input type="text" id="textsl" value="{{SL}}"><button ng-click="sltang()">+</button>
                    </td>
                    <td style="padding: 10px;">{{s.price}}</td>
                    <td><a href="/GioHang/ThanhToan"><input type="button" value="Thanh Toán" style="background-color: cadetblue;"></a></td>
                </tr>
               

            </table>
            <p style="text-align:right;padding-right:30px">
                <b style="color: darkblue;font-size: 18px;">Tổng tiền:{{TT}}đ</b>
                <br><span style="font-style: italic;font-size: 14px;">(Đã bao gồm phí vận chuyển)</span>
            </p>
            <p></p>
            <p></p>

            <!-- <button style="width: 180px;height: 40px; background-color: #F97407; margin-top: 10px;"><a href="#">Tiến Hành Thanh Toán</button>&nbsp;&nbsp; -->
            
        </form>
    </div>
</section>
<div class="clear"></div>

