<aside class="sidebar" >
    <div class="scrollbar-inner">
        <div class="user">
            <div class="user__info" data-toggle="dropdown">
                <img class="user__img" src="~/Assets/admin/8.jpg" alt="">
                <div>
                    <div class="user__name">Malinda Hollaway</div>
                    <div class="user__email">malinda-h@gmail.com</div>
                </div>
            </div>

            <div class="dropdown-menu" ng-controller="QLBrandController" >
                <a class="dropdown-item" href="">View Profile</a>
                <a class="dropdown-item" href="">Settings</a>
                <a class="dropdown-item" ng-click="Logout()">Logout</a>
            </div>
        </div>

        <ul class="navigation">
            <li class="navigation__active"><a href="~/Admin/Home/Index"><i class="zmdi zmdi-home"></i> Home</a></li>
            <li>
                <a href="~/Admin/Brand/Index"><i class="zmdi zmdi-view-week"></i> Quản lý thương hiệu</a>
            </li>
            <li>
                <a href="~/Admin/Categories/Index"><i class="zmdi zmdi-view-week"></i> Quản lý loại sản phẩm</a>
            </li>

            <li><a href="~/Admin/Product/Index"><i class="zmdi zmdi-format-underlined"></i>Quản lý sản phẩm</a></li>

            <li><a href="widgets.html"><i class="zmdi zmdi-widgets"></i>Quản lý hóa đơn</a></li>

            <li>
                <a href="~/Admin/Supplier/Index"><i class="zmdi zmdi-view-list"></i> Quản lý nhà cung cấp</a>
            </li>

            <li class="navigation__sub">
                <a href=""><i class="zmdi zmdi-collection-text"></i>Quản lý bài viết</a>
            </li>
        </ul>
    </div>
</aside>
<script src="~/Scripts/controllers/LoginAJS.js"></script>